body, html {
    margin: 0;
    background-color: #055254;
height: 4200px;
}
Header {
    display: flex;
    background-color: #F3E8BB;
    height: 120px;
    flex-direction: row;
}
nav {
    display: flex;
    flex-direction: row;

}
.beige {
    color: #F3E8BB;
    padding-left: 100px;
    padding-top: 100px;
}
.zelf {
    display: flex;
    margin-bottom: 50px;
    margin-left: 400px;
}
.fixed {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    margin-bottom: 50px;
}
.ik{
    height: 600px;
    width: 100%;

}.specialiteit{
    width: 100%;

}
.douable {
    display: flex;
    color: #F3E8BB;
    justify-content:  center;
    margin-top: 50px;
}
.color {
    display: flex;
    text-size-adjust: 40;
    
}
.picture {
    display: flex;
    margin: 10px;
    margin-left: 290px;
    height: 120px;
}
.picture2 {
    display: flex;
    margin: 10px;
    margin-left: 290px;
    height: 120px;
}
.seperate {
    display: flex;
    background-color: #5F9F9E;
    width: 100%;
    height: 1011px;
    margin-top: 140px;
    flex-direction: column;
}
.projecten {
    display: flex;
    background-color: #5F9F9E;
    margin-top: 250px;
}
.text {
    display: flex;
    justify-content: column;
    margin-top: 500px;
    
}
.gedaan {
display: flex;
margin-left: 50px;



font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 77px;

color: #055254;


}
.pink {
    /* Pink Goose: ik heb voor school een wensite na gebouwd. Manstermind: Een compleet werkende Mastermind gemmaakt in Java. */


margin-top: 200px;
margin-left: 50px;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #055254;


}
.pink2 {
    /* Pink Goose: ik heb voor school een wensite na gebouwd. Manstermind: Een compleet werkende Mastermind gemmaakt in Java. */

margin-top: 250px;
margin-left : 50px;


font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #055254;


}
.foto {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.goose {
    display: flex;
    margin-top: 20px;
width: 551px;
height: 560px;
background: url(image.png);
}
.mastermind {
    /* image 28 */


width: 554px;
height: 283px;


background: url(image.png);

}
#about2 {
    /* About: Ik ben geboren op 12 november 2008 en studeer nu aan het ROC in Nijmegen op de opleiding Software Developer, Ik Spreek twee talen en leer een derde. Mijn hobbies zijn Bewegen en Gamen. */
display: flex;
justify-content: center;
margin-left: 350px;
width: 820px;
font-weight: 400;
font-size: 40px;
line-height: 77px;
text-align: center;

color: #ffffff;


}
#beige2 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
color: #F3E8BB; 
font-weight: 400;
font-size: 40px;
line-height: 77px;
text-align: center;
}
.toekomst {
display: flex;
justify-content: center;
font-weight: 400;
font-size: 40px;
line-height: 77px;
text-align: center;

color: #F3E8BB;

}
#uitleg {
    /* Ik wil na mijn studie graag op het HBO verder studeren en daarna naar het buitenland om verder te gaan verdiepen op Cyber Security. */
display: flex;
justify-content: center;
width: 807px;
height: 300px;
margin-left: 350px;
margin-top: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #FFFFFF;


}
a {
    text-decoration: none;
}
a:hover {
    color: blue;
}
.nav {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-left: 350px;
    font-size: 25px;
    color: black;
}
.nav2 {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-left: 650px;
    font-size: 25px;
    color: black;

}
.move {
    display: flex;
    margin-left:30px ;
}
.me {
    color: #F3E8BB;
    font-size: 40px;
    text-align: center;
}
.contact {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.image {
display: flex;
flex-direction: row;
margin-top: 30px;
justify-content: space-between;
width: 500px;
flex-direction: center;
margin-left: 510px;
}
.school {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 300px;
}
button {
    background: none;
}
#git {
    display: flex;
    justify-content: center; 
    flex-direction: row;
    margin-top: 40px;
    display: none;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    
}
#email {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
    display: none;
    text-align: center;
}
#insta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 90px;
    display: none;
    text-align: center;
}